* {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

body {
  margin: 0;
  background: center
    url(https://images.unsplash.com/photo-1440964829947-ca3277bd37f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Zm9yZXN0JTIwYnJpZGdlfGVufDB8fDB8fA%3D%3D&w=1000&q=80)
    no-repeat fixed;
  background-size: cover;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0.5em;
}

.pad-left {
  padding-left: 1em;
}

.logo {
  font-size: clamp(1.1rem, 3.5vw, 1.5rem);
}

main {
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-size: clamp(2rem, 7vw, 3.5rem);
  font-weight: 400;
  margin-bottom: 0.3em;
}

.line {
  border: none;
  height: 0.0625em;
  width: 50%;
  border-radius: 1em;
  background-color: #9c9c9c;
}

/* DAYS-LEFT AND LINK-TEXT COMBINED CLASS */
.clamp-font {
  font-size: clamp(0.9375rem, 2.5vw, 1.125rem);
}

a {
  transition: color 0.2s;
}

/* L, V, H, A */
a:link {
  color: #fff;
}

a:visited {
  color: #fc9396;
}

a:hover {
  color: #00ff80;
}

a:active {
  color: #5affac;
}

/* MEDIA QUERY FOR MIN-SCREEN SIZE: 1200px */
@media only screen and (min-width: 1200px) {
  main .line {
    height: 0.1375em;
  }
}
